@charset "UTF-8";

@use "base/fonts" as *;
@use "base/variable" as *;
@use "base/mixin" as *;
@use "base/reset" as *;
@use "base/container" as *;

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: to_vw(12);
    position: relative;
    width: 100%;
    height: 100vh;
}


.carousel-option {
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 99;

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: to_vw(8);
    }

    span {
        font-family: "AustinNewsDeckWeb", sans-serif;
    }

    button {
        padding: 0 to_vw(2);
        margin: 0 to_vw(2);
        font-family: "AustinNewsDeckWeb", sans-serif;

        &:not(.active):hover {
            text-decoration: underline;
            opacity: .5;
        }

        &.active {
            text-decoration: underline;
            color: #ff8aa4;
        }
    }
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 26.6vw;

    &.init {
        .carousel-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            margin: 0 auto;
            gap: to_vw(10);
        }
    }
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(20vw - to_vw(10));
    height: 100%;

    &.absolute {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
    }

    &.transition {
        transition: left 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.5s ease, visibility 0.5s ease;
        opacity: 1;
        visibility: visible;
    }

    &.clone {
        opacity: 0;
        visibility: hidden;
    }

    &.active {
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-size: 0;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: to_vw(40);
        height: to_vw(20);
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(3px);
        z-index: 1;
        font-family: "AustinNewsDeckWeb", sans-serif;
        font-weight: bold;
        color: #ff8aa4;
        @include fontSize(12);
    }
}

.controls {
    display: flex;
    gap: to_vw(10);

    &.disabled {
        opacity: .3;

        button {
            cursor: not-allowed;
        }
    }

    button {
        font-family: "AustinNewsDeckWeb", sans-serif;

        &:not(.disabled button):hover {
            text-decoration: underline;
        }
    }
}